{% extends 'learn/base.html' %}
{% load i18n %}
    <!-- JUMBOTRON -->
    <div id = "cloud"><h2>{% block title %}{% trans "Bonus" %}{% endblock %}</h2><span class='shadow'></span></div>
    <!-- /END JUMBOTRON -->
    <!-- PANEL-->
    {% block content %}
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
    {% trans "Dr. Pencilcode can give you four different bonuses. Each Bonus add one point to your final score. In this page, we are going to explain you how you can get those bonuses and some examples of how to do it. Check out the following cases:" %}

        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body col-lg-10 col-lg-offset-1">
                <section>

					<h3>{% trans "Bonus for diversity" %}</h3>

					<p>{% trans "Dr. Pencilcode give you this bonus when you use blocks of three different levels - blocks of <b>level 1</b>, <b>level 2</b> and <b>level 3</b> - in one category. Example with <b>Move</b> category: " %}</p> <br>

					<div class="col-md-4">
						<img src="../../static/app/images/codesnowman.png" alt="">
					</div>	
					<img src="../../static/app/images/snowman.png" alt="">
					<br><br><br>

  				{% trans "<b> How does this program work? </b> Increasing the program's speed, the turtle will paint white dots until it forms a snowman. As you can see, the blocks of Move category that we have used in this program are: <b>speed</b>, <b>fd</b> and <b>jumpto</b>. Each of theses blocks belong to different levels. <b>fd</b> belong to <b>level 1</b>, <b>speed</b> belong to <b>level 2</b> and <b>jumpto</b> belong to <b>level 3</b>. As we have used blocks of three different levels, we would get the Bonus!" %} <br><br>
				
					<p> If you get this Bonus, Dr. Pencilcode will show the following message in the <b>Details section</b> of your Dashboard: </p>

                    <span class="glyphicon glyphicon-star" id="star"></span> <strong id='bonustext'> {% trans "You have used blocks of three different levels in Move category!" %} </strong>

					<h3>{% trans "Bonus for complexity" %}</h3>

					{% trans "You can get another bonus if you use more blocks from <b>level 3</b> than blocks from previous levels (<b>level 1</b> and <b>level 2</b>). For example:" %} <br><br>

						<div class="col-md-4">
						<img src="../../static/app/images/bonus3code.png" alt="">
						</div>
						<img src="../../static/app/images/bonus2.png" alt=""><br><br>

					{% trans "In this case, <b>moveto</b>, <b>movexy</b> and <b>jumpto</b> belong to level 3, meanwhile <b> speed </b> belongs to level 2 and <b>fd</b> and <b>lt</b> belong to level 1. In this program there are 3 blocks from level 3, 1 block from level 2 and 2 blocks from level 1. We are using more blocks from level 3 than the previous levels." %} <br>

				{% trans "If you get this bonus, Dr. Pencilcode will show the following message in the <b>Details section</b> of your Dashboard:" %}<br><br>

                    <span class="glyphicon glyphicon-star" id="star"></span> <strong id='bonustext'> {% trans "Bonus for complexity, you have used more blocks of level 3 than 1 and 2. " %} </strong>


				<h3>{% trans "Bonus all categories" %}</h3>

					{% trans "As you know, in Pencil Code, there are 6 main categories: <b>Move</b>, <b>Art</b>, <b>Text</b>, <b>Sound</b>, <b>Control</b> and <b>Operators</b>. You can get this Bonus if you use blocks from theses categories in the same program. Let's see an example!" %} <br><br>

					<div class="col-md-4">
						<img src="../../static/app/images/bonus3.png" alt="">
					</div>

					<br>

				
					{% trans "<b> How does this program work? </b> With the first block, <b>play</b>, you will listen a couple of chords, then, <b>pen</b> will set the color and diameter of the pencil with which the turtle will paint, <b> label </b> will print 'starting point' at the turtle location, after that, <b> speed </b> will speed up the program. In order to control de movement of the turtle we have used <b> keydown </b>, each time we press W, S, A or D keys the turtle will move forward, move backward, turn left or turn right respectively." %} <br><br>
				

					{% trans "These are the blocks used in the program:  " %}<br>
					{% trans "Move: <b>speed, fd, bk, tl, tr</b>" %}<br>
					{% trans "Art: <b>pen</b>" %}<br>
					{% trans "Sound: <b>play</b>" %}<br>
					{% trans "Text: <b>label</b>" %}<br>
					{% trans "Control: <b>keydown</b>" %}<br>
					{% trans "Operators: <b>-></b>" %}<br>
					
					<br>

					{% trans "As you can see, the program has blocks from the six main categories. If you get this bonus, Dr. Pencilcode will show the following message in the <b>Details section</b> of your Dashboard:" %} <br><br>

                    <span class="glyphicon glyphicon-star" id="star"></span> <strong id='bonustext'> {% trans "You have used blocks from all the categories!" %} </strong>

				<h3>{% trans "Bonus for repetition" %}</h3>

					{% trans "If you use a block more than once, you will get another bonus. If you get this bonus, Dr. Pencilcode will show the following message in the <b>Details section</b> of your Dashboard:" %}<br><br>

                    <span class="glyphicon glyphicon-star" id="star"></span> <strong id='bonustext'> {% trans "You have used the same block more than once!" %} </strong>


             </section>
			<br><br>
            </div>
        </div>
  		
  </div>
  
 {% endblock %}
