{% extends 'learn/base.html' %}
{% load i18n %}
    <!-- JUMBOTRON -->
    <div id = "cloud"><h2>{% block title %}{% trans "Help us" %}{% endblock %}</h2><span class='shadow'></span></div>
    <!-- /END JUMBOTRON -->
    <!-- PANEL-->
    {% block content %}
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
    {% trans "We'd love to improve our tool step by step and your help and opinion about Dr.Pencilcode would be very useful for us in order to do it. Take a minute of your time to fill this survey about our page. We'll take into account your opinion! Thank you :)" %}

        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body col-lg-10 col-lg-offset-1">
                <section>
					<h4 align = 'center'> Dr.Pencilcode workshop - survey </h4>
					<div align = 'center'><img align= 'center' src="../../static/app/images/caritas.png" alt=""></div><br>
					

			
				  <form method = "POST" action = "/helpus" class="project-form" name=form >
					<!--action, ruta url donde quiero mandarlo para
					que sea procesado por la vista, si lo dejo en blanco lo manda
					a la misma vista de donde viene -->
       				{% csrf_token %} <!--django obliga a establecer este metodo de seguridad para el metodo post-->
					<h5 style="color: red">{% trans "Task 1. When visiting Dr.Pencilcode:" %}</h5>
					<p><b>{% trans "a. What do you think about the webpage? Do you like it?" %}</b></p>

<div id="form">{{form.as_p}}</div> 
					<div id="form">{{form.question1a}}</div>

					<p><b>{% trans "b. Do you understand what the web is for?" %}</b></p>

					<div id="form">{{form.question1b}}</div> <br>

					<h5 style="color: red">{% trans "Task 2. Analyze one of your Pencil Code Projects:" %}</h5>
					<p><b>{% trans "a. Was it easy to do the analysis?" %}</b></p>

					<div id="form">{{form.question2a}}</div>

					<p><b>{% trans "b. Did you understand the results shown?" %}</b></p>
					<div id="form">{{form.question2b}}</div> 

					<p><b>{% trans "c. How did you feel when you show your results?" %}</b></p>
					<div id="form">{{form.question2c}}</div> 

					<p><b>{% trans "d. Why?" %}</b></p>
					<div id="form">{{form.question2d}}</div><br>

					<h5 style="color: red">{% trans "Task 6. Give us some feedback:" %}</h5>
					<p><b>{% trans "Comment whatever you want about Dr. Pencilcode:" %} <br> {% trans "Things you like,  things you don't like, ideas that we could add to the webpage..." %}</b></p>
					<div id="form">{{form.question6}}</div><br><br>
					

   				 <button id ="Submit" type='submit' class="btn btn-primary standard-button" value="submit form">Submit</button>
				<button type="reset" class="btn btn-primary standard-button"> {% trans "Reset" %}</button>



				</form>

             </section>
  
			 <br>
			 <br><br>
            </div>
        </div>
  		
  </div>
  
 {% endblock %}
